.blockItem {
  position: relative;
  margin: 0.5rem 0;
}
.label {
  display: flex;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
  align-items: center;
}

.label i {
  margin-right: 0.5rem;
}
.label p {
  font-size: 14px;
  font-weight: 600;
}

.labelArrow {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;

  border-radius: 0.5rem;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}

.labelArrow:hover {
  opacity: 1;
  background-color: #076AB3;
}

.itemChild {
  list-style: none;
  padding-left: 1rem;
  visibility: hidden;
  height: 0;
}
.itemChildHide {
  list-style: none;
  visibility: hidden;
  height: 0;
}

.itemChild li a,
.itemChildHide li a {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: flex-start;
  align-items: center;
}

.itemChild li a:hover,
.itemChildHide li a:hover {
  border-bottom: 1px solid rgb(211, 211, 211);
}

.itemChild li a i,
.itemChildHide li a i {
  margin-right: 0.5rem;
}

.takeOpen {
  visibility: visible;
  height: 100%;
}

.active {
  background-color: #076AB3;
}
.itemActive {
  border-bottom: 1px solid rgb(211, 211, 211);
}
