.blockSiteBar {
  padding: 4rem 1.5rem;
}
.blockLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockLogo img {
  width: 100%;
}

.menu {
  margin-top: 3rem;
}

.blockSiteBarHide {
  padding: 4rem 0.3rem;
}
